<mat-nav-list>
	<div class="profile-card">
		<img src="../../../assets/tonoy.jpg" alt="user_image" />
		<div class="header">
			<h2>Tonoy Akando</h2>
			<h4>tonoy.sust@gmail.com</h4>
		</div>
	</div>
	<mat-divider></mat-divider>
	<h2 matSubheader>Pages</h2>
	<a mat-list-item routerLink="/" routerLinkActive="lits-item-active">
		Dashboard
	</a>
	<a mat-list-item routerLink="/posts" routerLinkActive="lits-item-active">
		Posts
	</a>
	<a
		mat-list-item
		routerLink="/form-builder"
		routerLinkActive="lits-item-active"
	>
		Form Builder
	</a>
	<mat-divider></mat-divider>
	<h2 matSubheader>Tools</h2>
	<a mat-list-item routerLink="/" routerLinkActive="lits-item-active">
		<mat-icon>import_contacts</mat-icon>
		Contacts
	</a>
	<a mat-list-item routerLink="/" routerLinkActive="lits-item-active">
		<mat-icon>contact_phone</mat-icon>
		Leads
	</a>
</mat-nav-list>
