.text {
	.h4 {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 1.2rem;
		font-weight: bold;
	}
	.total {
		font-size: 3em;
	}
}
.mt-icon,
.description {
	color: green;
	font-size: 2em;
}

.mat-icon {
	position: relative;
	padding: 0 20px;
	top: 5px;
}
